<div style="margin-top: 20px; margin-right: 35%; "      >
  <h3 style="margin-left: 50%; ">Update Tache</h3>
  <form (ngSubmit)="onSubmit()">
    <div class="form-group" style="margin-left: 35%;">
      <label for="name"  >Nom</label>
      <input type="text" class="form-control" id="nom" required [(ngModel)]="tache.nom" name="nom" placeholder="Modifier le Nom">
    </div>

    

    <div class="form-group" style="margin-left: 35%;">
        <label for="name" >Date debut</label>
        <input type="text" class="form-control" id="date_debut" required [(ngModel)]="tache.date_debut" name="date_debut" placeholder="Modifier le date du debut du tache (DD/MM/YYYY)">
      </div>

      <div class="form-group" style="margin-left: 35%;">
        <label for="name">debut fin</label>
        <input type="text" class="form-control" id="date_fin" required [(ngModel)]="tache.date_fin" name="date_fin" placeholder="Modifier le date du fin du tache (DD/MM/YYYY)">
      </div>

      <div class="form-group" style="margin-left: 35%;">
        <label for="name">Responsable</label>
        <input type="text" class="form-control" id="responsable" required [(ngModel)]="tache.responsable" name="responsable" placeholder="Modifier le responsable">
      </div>
      <div style="margin-left: 50%;  margin-top: 5%;">

    <button class="btn btn-primary">Confirmer</button>
    <button type="reset" class="btn btn-secondery">Cancel</button>
</div>
</form>
