<div>
  
  <nav class="navbar navbar-expand-lg bg-light navbar navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="app.component.html">Auxstar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          
          <li class="nav-item">
            
            <a class="nav-link active" aria-current="page"  routerLink="/employe/add" routerLinkActive="active" >Add Employee</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/employe" routerLinkActive="active"> Employees List</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/tache/add" routerLinkActive="active"> Add Tache</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/tache" routerLinkActive="active"> Tache List</a>
          
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
          
        </ul>
       
      </div>
    </div>
  </nav>
  
  
  
  
    
  
  
  <body>
    <router-outlet></router-outlet>
  </body>
  
    
